urllib3
wget
requests
beautifulsoup4
javalang
pygtrie
mysql
alive-progress==1.6.1
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.2
mysql-connector==2.2.9
numpy==1.19.2
Pillow==8.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
